/*BODY*/
body {
  margin: 0;
  width: auto;
  height: auto;
  background-color: whitesmoke;
  background-size: cover;
  overflow-x: auto;
}
/*NEW GAME BUTTON*/
.new__game {
  text-align: center;
}
.new__game--button {
  width: 140px;
  height: 50px;
  margin: 5px;
  border: 0;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #000;
  background-color: #ffa1c9;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
}

/*CARD 1*/
.card1 {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 20vh;
  margin-left: 18px;
  margin-top: 2px;
  margin-right: 15px;
  background-color: #bffff0;
  border: solid 15px #ffe4c0;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: 0em 0.1em 0.2em black;
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  filter: drop-shadow(0em 0.2em 0.2em rgba(0, 0, 0, 0.596));
}
/*CARD 2*/
.card2 {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: auto;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 18px;
  background-color: #bffff0;
  border: solid 15px #ffe4c0;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: 0em 0.1em 0.2em black;
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  filter: drop-shadow(0em 0.2em 0.2em rgba(0, 0, 0, 0.596));
}

/*PLAYER TEXT*/
.player {
  margin-top: 10px;
}
/*PLAYER IMAGE1*/
.player__image1 {
  width: 90px;
  border-radius: 50%;
  filter: drop-shadow(0em 0.2em 0.2em black);
}
/*PLAYER IMAGE2*/
.player__image2 {
  width: 90px;
  border-radius: 50%;
  filter: drop-shadow(0em 0.2em 0.2em black);
}

/*SCORE1*/
.score__1 {
  margin: 4px;
  font-size: 30px;
  color: white;
}
/*GLOBAL SCORE1*/
.score__global1 {
  margin-top: 80px;
  color: white;
  font-size: 40px;
}
/*SCORE2*/
.score__2 {
  margin: 4px;
  font-size: 30px;
  color: white;
}
/*GLOBAL SCORE2*/
.score__global2 {
  margin-top: 80px;
  color: white;
  font-size: 40px;
}
/*ROLL THE DICE BUTTON*/
.roll__the--dice--button {
  width: 140px;
  height: 50px;
  padding: 0 20px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: #ff008e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.938),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
  animation: 1s linear 1s infinite alternate up;
}

@keyframes up {
  from {
    transform: translateY(0px) rotate(-4deg);
  }

  to {
    transform: translateY(0px) rotate(4deg);
  }
}

.dice__roll--button {
  text-align: center;
}
/*DICE AND ANIMATION*/
.dice__roll {
  text-align: center;
}
.dice__image {
  margin-top: 18px;
  width: 70px;
  height: 70px;
  animation: 0.8s linear infinite 3s alternate bounce;
}

@keyframes bounce {
  from {
    transform: translateY(0px) rotate(-15deg);
    transform: translateX(0px) rotate(-10deg);
  }

  to {
    transform: translateY(8px) rotate(15deg);
    transform: translateX(8px) rotate(10deg);
  }
}
/*SCORE=1 ALERT WINDOW*/
.alert__number {
  text-align: center;
}
.alert__number1 {
  width: 230px;
  height: 50px;
  padding: 0 20px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: #ff008e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.938),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
}

.custom-box {
  border: 2px solid grey;
  text-align: center;
  padding: 10px;
  width: fit-content;
  background-color: white;
  margin: auto;
}

/*HOLD BUTTON AND ANIMATION*/
.hold {
  text-align: center;
}
.hold__button {
  width: 140px;
  height: 50px;
  padding: 0 20px;
  margin: 6px;
  border: 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  background-color: #ffa1c9;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
}

/*RESPONSIVE*/
@media screen and (min-width: 768px) {
  .new__game {
    text-align: center;
    margin-top: 150px;
  }
  .dice__roll {
    margin-top: 160px;
  }
  .cards__players {
    display: flex;
  }
  .card1 {
    display: block;
    text-align: center;
    width: 40%;
    height: auto;
    margin-left: 75px;
  }
  .card2 {
    display: block;
    text-align: center;
    width: 40%;
    height: auto;
    margin-right: 75px;
  }
  .player__image1 {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .player__image2 {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .score__1 {
    margin: 90px;
  }
  .score__2 {
    margin: 90px;
  }
  .score__global1 {
    margin-top: 40px;
  }
  .score__global2 {
    margin-top: 40px;
  }
  .dice__image {
    margin: 40px;
  }
  .alert__number1 {
    margin: 15px;
  }
  .hold__button {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1300px) {
  .card1 {
    height: 580px;
    font-size: 35px;
  }
  .card2 {
    height: 580px;
    font-size: 35px;
  }
}
