body {
  margin: 0;
  width: auto;
  height: auto;
  background-image: url(images/background2.jpg);
  background-size: contain;
  overflow-x: auto;
}
/*NEW GAME BUTTON*/
.new__game {
  text-align: center;
}
.new__game--button {
  width: 140px;
  height: 50px;
  margin: 10px;
  border: 0;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(245, 7, 7);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
}
/*CARD 1*/
.card1 {
  width: auto;
  height: 30vh;
  margin-left: 18px;
  margin-top: 2px;
  margin-right: 15px;
  background-color: black;
  border: solid 3px red;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
/*CARD 2*/
.card2 {
  height: 30vh;
  width: auto;
  margin-left: 15px;
  margin-top: 2px;
  margin-right: 18px;
  background-color: black;
  border: solid 3px red;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
/*PLAYER*/
.player {
  margin: 15px;
}
/*SCORE*/
.score {
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-top: 45px;
}
/*GLOBAL SCORE*/
.score__global {
  color: white;
  text-align: right;
  font-size: 40px;
  margin-top: 40px;
  margin-right: 35px;
}
/*ROLL THE DICE BUTTON*/
.roll__the--dice--button {
  width: 140px;
  height: 50px;
  padding: 0 20px;
  margin: 15px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(245, 7, 7);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
}
.dice__roll {
  text-align: center;
}
/*DICE*/
.dice__image {
  width: 70px;
  height: 70px;
  margin: 15px;
  text-align: center;
}
/*HOLD BUTTON*/
.hold {
  text-align: center;
}
.hold__button {
  width: 140px;
  height: 50px;
  padding: 0 20px;
  margin: 10px;
  border: 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(245, 7, 7);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
}
/*RESPONSIVE*/
@media screen and (min-width: 720px) {
  .new__game {
    margin: 40px;
  }
  .dice__roll {
    margin-top: 160px;
  }
  .cards__players {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .card1 {
    width: 80vw;
    height: auto;
  }
  .card2 {
    width: 80%;
    height: 60vh;
  }
  .score {
    margin: 40px;
  }
  .score__global {
    margin-top: 180px;
  }
  .hold__button {
    margin: 45px;
  }
}
