/*BODY*/
body {
  margin: 0;
  width: auto;
  height: auto;
  background-color: whitesmoke;
  background-size: cover;
  overflow-x: auto;
}
/*NEW GAME BUTTON*/
.new__game {
  text-align: center;
}
.new__game--button {
  width: 140px;
  height: 50px;
  margin: 5px;
  border: 0;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #000;
  background-color: #ffa1c9;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
}
/*CARD 1*/
.card1 {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 20vh;
  margin-left: 18px;
  margin-top: 2px;
  margin-right: 15px;
  background-color: #9adcff;
  border: solid 15px #ffe4c0;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: 0em 0.1em 0.2em black;
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  filter: drop-shadow(0em 0.2em 0.2em rgba(0, 0, 0, 0.596));
}
/*CARD 2*/
.card2 {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: auto;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 18px;
  background-color: #9adcff;
  border: solid 15px #ffe4c0;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: 0em 0.1em 0.2em black;
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  filter: drop-shadow(0em 0.2em 0.2em rgba(0, 0, 0, 0.596));
}
/*PLAYER TEXT*/
.player {
  margin-top: 10px;
}
/*PLAYER IMAGE1*/
.player__image1 {
  width: 90px;
  border-radius: 50%;
  filter: drop-shadow(0em 0.2em 0.2em black);
}
/*PLAYER IMAGE2*/
.player__image2 {
  width: 90px;
  border-radius: 50%;
  filter: drop-shadow(0em 0.2em 0.2em black);
}
/*SCORE1*/
.score__1 {
  margin-left: 30px;
  font-size: 30px;
  color: white;
}
/*GLOBAL SCORE1*/
.score__global1 {
  margin-top: 80px;
  color: white;
  font-size: 40px;
}
/*SCORE2*/
.score__2 {
  margin-left: 30px;
  font-size: 30px;
  color: white;
}
/*GLOBAL SCORE2*/
.score__global2 {
  margin-top: 80px;
  color: white;
  font-size: 40px;
}
/*ROLL THE DICE BUTTON*/
.roll {
  text-align: center;
}
.roll__the--dice--button {
  width: 140px;
  height: 50px;
  padding: 0 20px;
  margin-top: 1px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: #ff008e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.938),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
  animation: 1s linear 1s infinite alternate up; /*ANIMATION*/
}
@keyframes up {
  from {
    transform: translateY(0px) rotate(-4deg);
  }
  to {
    transform: translateY(0px) rotate(4deg);
  }
}
.roll__the_dice--button--icon {
  text-align: center;
  width: 50px;
  height: 40px;
}

/*SCENE*/
.scene {
  width: 355px;
  height: 80px;
  margin: auto;
  perspective: 400px;
}
/*3D Cube*/
.cube {
  width: 100px;
  height: 100px;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}
.cube__face {
  text-align: center;
  padding: 2px;
}
/*3D Cube transforms / animations on face select (on roll)*/
.cube.show-1 {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-2 {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-3 {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-4 {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-5 {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-6 {
  transform: translateZ(-100px) rotateX(90deg);
}
/*CUBE FACES*/
.cube__face {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 4px solid white;
  line-height: 60px;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

/*EACH FACES*/
.cube__face--1 {
  background: #ffa1c9;
}
.cube__face--3 {
  background: #ffa1c9;
}
.cube__face--2 {
  background: #ffa1c9;
}
.cube__face--4 {
  background: #ffa1c9;
}
.cube__face--5 {
  background: #ffa1c9;
}
.cube__face--6 {
  background: #ffa1c9;
}

.cube__face--1 {
  transform: rotateY(0deg) translateZ(35px);
}
.cube__face--2 {
  transform: rotateY(180deg) translateZ(35px);
}
.cube__face--3 {
  transform: rotateY(90deg) translateZ(35px);
}
.cube__face--4 {
  transform: rotateY(-90deg) translateZ(35px);
}
.cube__face--5 {
  transform: rotateX(90deg) translateZ(35px);
}
.cube__face--6 {
  transform: rotateX(-90deg) translateZ(35px);
}

label {
  margin-right: 10px;
}
/*SCORE=1 ALERT WINDOW*/
.alert__number {
  text-align: center;
}
.alert__number1 {
  width: 230px;
  height: 50px;
  padding: 0 20px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: #ff008e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.938),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
}
/*WINNER ALERT*/
.alert__winner {
  text-align: center;
}
/*WINNER ALERT1*/
.alert__winner1 {
  width: 230px;
  height: 50px;
  padding: 0 20px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: #ff008e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.938),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
  animation: linear 1s alternate winner; /*ANIMATION*/
}
@keyframes winner {
  from {
    transform: translateY(0px) rotate(0deg);
  }

  to {
    transform: translateY(0px) rotate(360deg);
  }
}
/*WINNER ALERT2*/
.alert__winner2 {
  width: 230px;
  height: 50px;
  padding: 0 20px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-color: #ff008e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.938),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
  animation: linear 1s alternate winner; /*ANIMATION*/
}
@keyframes winner {
  from {
    transform: translateY(0px) rotate(0deg);
  }

  to {
    transform: translateY(0px) rotate(360deg);
  }
}
/*HOLD BUTTON*/

.hold {
  text-align: center;
}
.hold__button {
  width: 140px;
  height: 50px;
  padding: 0 20px;
  margin: 6px;
  border: 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  background-color: #ffa1c9;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-color: rgb(87, 2, 2);
  border-style: groove;
  border-radius: 13px;
  filter: drop-shadow(0em 0.2em 0.2em black);
}
.hold__button--icon {
  width: 40px;
  height: 40px;
}
/*RESPONSIVE*/
@media screen and (min-width: 768px) {
  .new__game {
    text-align: center;
    margin-top: 110px;
  }
  .dice__roll {
    margin-top: 160px;
  }
  .cards__players {
    display: flex;
  }
  .card1 {
    display: block;
    text-align: center;
    width: 40%;
    height: auto;
    margin-left: 75px;
  }
  .card2 {
    display: block;
    text-align: center;
    width: 40%;
    height: auto;
    margin-right: 75px;
  }
  .player__image1 {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .player__image2 {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .score__1 {
    margin: 90px;
  }
  .score__2 {
    margin: 90px;
  }
  .score__global1 {
    margin-top: 40px;
  }
  .score__global2 {
    margin-top: 40px;
  }
  .dice__image {
    margin: 40px;
  }
  .alert__number1 {
    margin-top: 15px;
    width: 140px;
    height: 65px;
  }
  .alert__winner1 {
    margin-top: 20px;
    width: 140px;
    height: 80px;
  }
  .alert__winner2 {
    margin-top: 20px;
    width: 140px;
    height: 80px;
  }
  .all {
    vertical-align: middle;
  }
  .scene {
    width: auto;
    height: 50px;
    text-align: center;
    margin: 35px;
  }
  .cube {
    width: auto;
    height: 50px;
    text-align: center;
  }
  .roll {
    width: auto;
    height: 50px;
    text-align: center;
  }
  .hold {
    width: auto;
    height: 50px;
    text-align: center;
  }
  .hold__button {
    text-align: center;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1300px) {
  .card1 {
    height: 580px;
    font-size: 35px;
  }
  .card2 {
    height: 580px;
    font-size: 35px;
  }
}
